alabaster==0.7.10
alembic==1.0.0
Flask==1.0.2
Flask-Cors==3.0.4
Flask-Migrate==2.2.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.7
statsmodels==0.9.0
sympy==1.1.1
tables==3.4.3
Werkzeug==0.14.1

